NODE_ENV=development
HTTP_PORT=6000
GRPC_PORT=5000

JWT_SECRET=

POSTGRES_HOST=xx.xxx.xx.xxx
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

AMQP_URL=amqps://gpuhxqev:pKIaw5bo6AkETlKp-vGNKUWE1LsEiubO@armadillo.rmq.cloudamqp.com/gpuhxqev